body {background: black; background-image: none}

.page {width: 360px; background: #000077; box-sizing: border-box;
       border-radius: 5px; margin-left: auto; margin-right: auto;
       min-height: 96vh}
.content {width: 350px; margin-left: auto; margin-right: auto;
          margin-top: 0px; margin-bottom: 0px; padding-top: 5px}
.payload {display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: flex-start}
.breadcrumbs {display: block}
.right {float: right; margin: 0 0 10px 10px}
.left {float: left; margin: 0 10px 10px 0}

.story {width: 100%; padding-left: 15px}
.gallery {min-width: 66%; width: 98%; padding-left: 5px; padding-bottom: 15px;
          display: flex; flex-flow: column; align-items: center}
.gallery img {padding-top: 10px}
.gallery div {padding-top: 5px; padding-bottom: 5px}

.indexes {min-width: 33%; display: flex;
          flex-flow: row wrap; justify-content: space-between; align-items: flex-start}
.index {display: flex; align-items: center; justify-content: center;
        flex-flow: column nowrap; width: 128px; padding: 10px}
.dummy {height: 1px}
.index div {width: 100%; text-align: center}

.index_text {width: 100%}

div.icon {margin: 20px; min-width: 140px;
          display: flex; align-items: flex-end;
      flex-flow: column}
div.legend {margin-left: 10px; min-width: 270px}

.size3, .size2, .size1 {display: none}
.size0 {display: block}

.t0, .t1 {font-family: Tahoma, sans-serif; font-size: 14px; color: #CCCC00}
a, a div {color: #00DDDD}
.t0 {text-decoration: none}
a:hover, a:hover div, span, b {color: white}

@media all and (min-width: 768px) {
  div.page {width: 768px; border-radius: 10px}
  .content {width: 748px; padding-top: 10px}
  .size0 {display: none}
  .size1 {display: block}
  .t0, .t1 {font-size: 18px}
  .indexes {min-width: 150px}
}

@media all and (min-width: 1280px) {
  div.page {width: 1280px; border-radius: 15px}
  .content {width: 1250px; padding-top: 15px}
  .size1 {display: none}
  .size2 {display: block}
  .indexes {min-width: 464px; max-width: 464px}
}

@media all and (min-width: 1920px) {
	div.page {width: 1920px; border-radius: 20px}
  .content {width: 1880px; padding-top: 20px}
  .size2 {display: none}
  .size3 {display: block}
  .t0, .t1 {font-size: 22px}
  .indexes {min-width: 624px; max-width: 624px}
}


div.children {margin-left: auto; margin-right: auto}

div.centre     {text-align: center; padding-bottom: 10px}
div.date       {text-align: center; text-decoration: underline; padding-bottom: 20px}
div.heading    {text-align: center; text-decoration: underline; padding-bottom: 20px}
div.title      {text-align: center; text-decoration: underline}
div.text       {padding-bottom: 20px; text-align: left}

div.table  {padding-bottom: 20px}
div.code   {margin-bottom: 20px; color: #DDDDDD; background: #0000CC;
	  	    font-family: Courier, monospace; text-align: left; padding: 5px}

div.grid   {padding-bottom: 20px}

div.table table {margin-left: auto; margin-right: auto}

div.grid div {width: 177px; margin-left: 3px; margin-right: 3px}
div.cell {display: inline-block; vertical-align: top; margin-bottom: 10px}
div.cell div {text-align: center; margin-bottom: 0px}

table.border {border-spacing: 0px}
table.border td {padding: 5px; border-style: solid; border-width: 0px 1px 1px 0px; border-color: white}
table.border tr td:first-child {border-width: 0px 1px 1px 1px}
table.border tr:first-child td {border-width: 1px 1px 1px 0px}
table.border tr:first-child td:first-child {border-width: 1px}

table.table tr:first-child td {font-weight: bold; text-align: center}

table.list td:first-child {font-weight: bold}

table.site_index {border-spacing: 10px}
table.site_index td {vertical-align: top}

table.no_header th {font-weight: normal; text-align: left}
