body {background: black; background-image: none}
p {margin-top: 0px}

.overlay {position: fixed; display: none; z-index: 100;
          width: 100vw; height: 100vh; left: 0px; right: 0px;
          background: rgba(0,0,0,0.75);
          align-items: center; justify-content: center}
.overlay_cover {position: fixed;
                width: 100vw; height: 100vh;
                background: rgba(0,0,0,0.01);}

.page {width: 360px; background: #000077; box-sizing: border-box;
       border-radius: 5px; margin-left: auto; margin-right: auto;
       min-height: 96vh}
.content {width: 350px; margin-left: auto; margin-right: auto;
          margin-top: 0px; margin-bottom: 0px; padding-top: 5px}
.payload {display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: flex-start}
.breadcrumbs {display: block}
.right {float: right; margin: 0 0 10px 10px}
.left {float: left; margin: 0 10px 10px 0}
.centre {margin-left: auto; margin-right: auto; display: block;
         margin-top: 0px; margin-bottom: 1em;}

.story {min-width: 185px; padding-left: 15px; padding-top: 10px;
        box-sizing: border-box; overflow: hidden}
.gallery {width: 98%; padding-left: 5px; padding-bottom: 15px;
          display: flex; flex-flow: row wrap; align-items: flex-start;
          justify-content: space-between}
.gallery img {padding-top: 0px}
.gallery div {padding: 9px; padding-top: 0px; padding-bottom: 5px;
              display: flex; flex-flow: column nowrap; align-items: center;
              width: 128px; justify-content: center}
.gallery div div {text-align: center; padding: 0px}
.map {width: 340px; height: 500px}

.indexes {min-width: 33%; display: flex;
          flex-flow: row wrap; justify-content: space-between; align-items: flex-start}
.index {display: flex; align-items: center; justify-content: center;
        flex-flow: column nowrap; width: 128px;
        border-style: solid; border-width: 1px; border-color: #000077;
        border-radius: 5px; padding: 9px}
.dummy {height: 1px}
.index div {width: 100%; text-align: center}
.border_white {border-color: white}
.index_text {width: 100%}

div.icon {margin: 20px; min-width: 140px;
          display: flex; align-items: flex-end;
      flex-flow: column}
div.legend {margin-left: 10px; min-width: 270px}

.size3, .size2, .size1 {display: none}
.size0 {display: block}

.t0, .t1, h1 {font-family: Tahoma, sans-serif; font-size: 14px; color: #CCCC00}
a, a div {color: #00DDDD}
.t0 {text-decoration: none}
a:hover, a:hover div, span, b {color: white}
a:hover span {visibility: visible; animation-name: tooltip; animation-duration: 3s;}

@keyframes tooltip {
  0% {opacity: 0.0}
  99% {opacity: 0.0}
  100% {opacity: 1.0}
}

.tooltip {
  position: relative;
 }
.tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: black;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  padding: 5px 0px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: -80px;
  left: 50%;
  top: 10%;
}

blockquote {border-left: 1px solid #CCCC00; margin-left: 0px; padding-left: 20px}
em {color: magenta}
strong {color: #66FF66}
pre {background: white; color: black; margin-left: 20px;
    font-size: 12px; padding-left: 3px; tab-size: 2; overflow: scroll}
h1 {width: 100%; text-align: center; text-decoration: underline; font-weight: normal}

table {border-spacing: 0px; border-collapse: collapse}
table th {padding: 5px; border-style: solid;
          border-width: 1px; border-color: white;
          font-weight: bold; text-align: center}
table td {padding: 5px; border-style: solid;
          border-width: 1px; border-color: white}

td p {margin: 0px}
table.list th {text-align: left}

table {margin-left: auto; margin-right: auto; margin-bottom: 1em}
div.list, div.table {padding-bottom: 20px}

@media all and (min-width: 768px) {
  div.page {width: 768px; border-radius: 10px}
  .content {width: 748px; padding-top: 10px}
  .size0 {display: none}
  .size1 {display: block}
  .t0, .t1, h1 {font-size: 18px}
  pre {font-size: 14px}
  .indexes {min-width: 300px}
  .story {min-width: 440px}
  .map {width: 738px}
}

@media all and (min-width: 1280px) {
  div.page {width: 1280px; border-radius: 15px}
  .content {width: 1250px; padding-top: 15px}
  .size1 {display: none}
  .size2 {display: block}
  .indexes {min-width: 470px}
  .story {min-width: 780px}
  .map {width: 765px}
  .index, .gallery div {width: 196px}
}

@media all and (min-width: 1920px) {
	div.page {width: 1920px; border-radius: 20px}
  .content {width: 1880px; padding-top: 20px}
  .size2 {display: none}
  .size3 {display: block}
  .t0, .t1, h1 {font-size: 22px}
  pre {font-size: 16px}
  .indexes {min-width: 674px}
  .story {min-width: 1200px}
  .map {width: 1230px}
}


div.children {margin-left: auto; margin-right: auto}

div.centre     {text-align: center; padding-bottom: 10px}
div.date       {text-align: center; text-decoration: underline; padding-bottom: 20px}
div.heading    {text-align: center; text-decoration: underline; padding-bottom: 20px}
div.title      {text-align: center; text-decoration: underline}
div.text       {padding-bottom: 20px; text-align: left}

div.code   {margin-bottom: 20px; color: #DDDDDD; background: #0000CC;
	  	    font-family: Courier, monospace; text-align: left; padding: 5px}

div.grid   {padding-bottom: 20px}

div.table table {margin-left: auto; margin-right: auto}

div.grid div {width: 177px; margin-left: 3px; margin-right: 3px}
div.cell {display: inline-block; vertical-align: top; margin-bottom: 10px}
div.cell div {text-align: center; margin-bottom: 0px}
