A conceit but there is an
[interactive map](/Users/peter/Sites/Articles/Map/index.html) on this website. It displays markers
on a zoomable map of places visited. The markers link to webpages
describing visits to those places. This depends on metadata for the
webpages (as well as kml data from [Google Maps](Google Maps)).

So for example the [Florida 2001](2001/Florida) page has metadata including:

~~~
---
anchors:
- Disneyworld
~~~

Here follows a list of the anchors for this website.

<div class="table">
<table>
<tr><th>Name</th><th>Lat</th><th>Lon</th><th>Link</th></tr>
<%=
    html = []
    anchors.keys.sort.each do |name|
      html << "<tr><td>#{name}</td><td>#{anchors[name][:lat]}</td><td>#{anchors[name][:lon]}</td><td>#{anchors[name][:links][0].gsub(/^\.\.\/\.\.\//,'').gsub('/','/<wbr>')}</td></tr>"
    end
    html.join("\n")
%>
</table>
</div>
