<%=
  if title
    "Title:\n  #{title}\n"
  end
%>
Icon:
  /Users/peter/Website/Articles/Map/map.jpg

Text:
  A geographical index to this website, as a way of listing places
  I (and Virginia) have been. The maps herein use data from
  [https://www.openstreetmap.org/ OpenStreetMap], realised using the
  [https://leafletjs.com/ Leaflet.js] Javascript library.

HTML:
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
          integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
          crossorigin=""></script>
    <div id="map" style="width: 950px; height: 950px;"></div>
  <script>
    var map = L.map('map').setView([-82.214,-14.062],1);
    L.tileLayer( 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
       attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
       detectRetina:true
    }).addTo(map);
  <%=
    html = []
    anchors.each_pair do |name, anchor|
      html << "  var marker = L.marker( [#{anchor[:lat]},#{anchor[:lon]}]).addTo( map);"
      popup = name.gsub("'","\\'")
      if (a = anchor[:urls]).size > 0
        a.each_index do |i|
          if i == 0
            popup = "<a href=\"#{a[0]}\">#{popup.gsub(' ','&nbsp;')}</a>"
          else
            popup = popup + " <a href=\"#{a[i]}\">#{i+1}</a>"
          end
        end
      end
      html << "  marker.bindPopup('#{popup}');"
    end
    html.join("\n")
  %>
  </script>
