<!DOCTYPE html>
<HTML LANG="en"><HEAD><TITLE>$TITLE$</TITLE>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<link rel="icon" type="image/png" href="https://www.alofmethbin.com/Articles/resources/$favicon.png$">
<link rel="stylesheet" type="text/css" href="$SITE$/resources/$main.css$">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
<script></script>
<style>
</style>
</HEAD><BODY><DIV CLASS="page">
<IMG CLASS="logo size3 content" SRC="$SITE$/resources/$logo_large.jpg$" ALT="$TITLE$">
<IMG CLASS="logo size2 content" SRC="$SITE$/resources/$logo_medium.jpg$" ALT="$TITLE$">
<IMG CLASS="logo size1 content" SRC="$SITE$/resources/$logo_small.jpg$" ALT="$TITLE$">
<IMG CLASS="logo size0 content" SRC="$SITE$/resources/$logo_tiny.jpg$" ALT="$TITLE$">

